<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - postgreslogviewer</title>

    <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap-grid.css" />
        <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap-reboot.css" />
    <link rel="stylesheet"
          @*href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/night-owl.min.css">*@
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/an-old-hope.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body class="jumbotron" style="margin:0px; padding:15px; background-color:#272B30">
    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap4/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
